.light-login .widget-box.login-box {
	background-color: #F2F2F2;
}
.light-login .widget-box {
	border-bottom: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 7px;
}
.login-container {
    width: 665px;
}
.btn-login {
	width: 245px;
	border-radius: 4px;
	padding: 6px 12px;
	margin: 0 auto;
	display: inline-block;
	margin: 0px 170px;
	float: none !important;
	font-size: 14px;
	font-weight: 400;
}
.input-login {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px !important;
	font-size: 14px !important;
	line-height: 1.42857;
	color: rgb(85, 85, 85) !important;
	background-color: rgb(255, 255, 255) !Important;
	background-image: none;
	border: 1px solid rgb(204, 204, 204) !important;
}
input[type="text"],
input[type="password"] {
	border-radius: 4px !important;
}
.input-icon.input-icon-right > .ace-icon {
	right: 8px;
    top: 3px;
}

/* Backend */
.skin-1 .navbar {
    background: rgb(234, 37, 34);
}

.ace-nav > li.light-blue > a {
    background-color: rgb(234, 37, 34);
}

.skin-1 .sidebar {
    background-color: rgb(60, 60, 60);
    border-right-width: 0;
}

.skin-1 .sidebar-shortcuts, .skin-1 .sidebar-shortcuts-mini {
    background-color: rgb(60, 60, 60);
    border-color: #3f4e54;
}

.skin-1 .nav-list > li > a {
    background-color: rgb(60, 60, 60);
    color: #bac2c8;
}

.skin-1 .nav-list > li.active > a, .skin-1 .nav-list > li.active:hover > a {
    background-color: rgb(60, 60, 60);
    color: #7bb7e5;
}

.skin-1 .sidebar-toggle {
    background-color: #fff;
    border-color: #3f4e54;
}

.table-header {
    background-color: rgb(234, 37, 34);
    color: #FFF;
    font-size: 14px;
    line-height: 38px;
    padding-left: 12px;
    margin-bottom: 1px;
}

.modal-footer {
    padding-top: 12px;
    padding-bottom: 14px;
    border-top-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
}

.row:first-child {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #FFF;
}
.dataTables_wrapper .row:first-child {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #FFF;
}

.dataTables_wrapper .row:last-child {
    border-bottom: 1px solid #e0e0e0;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #FFF;
}

.page-content {
    background-color: #fff;
    position: relative;
    margin: 0;
    padding: 8px 20px 24px;
}
.skin-1 .nav-list > li.active > a, .skin-1 .nav-list > li.active:hover > a {
    color: #e0e0e1;
}

.skin-1 .nav-list > li.open > a, .skin-1 .nav-list > li.open:hover > a {
    color: #e0e0e1;
}